@import "tailwindcss";

/* Para que funcione next-theme */
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* styles.css — sugar-high token colors */

/* Light (default) */
:root {
  --sh-class: #8d85ff;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #bf7db6;
  --sh-entity: #6eafad;
  --sh-property: #4e8fdf;
}

/* Dark — e.g. <html data-theme="dark"> */
:root[class~='dark'] {
  --sh-class: #7eb5ff;
  --sh-identifier: #d4d4d4;
  --sh-sign: #8b949e;
  --sh-string: #88bbb6;
  --sh-keyword: #ffada8;
  --sh-comment: #8b8b8b;
  --sh-jsxliterals: #d2a8ff;
  --sh-entity: #56d4dd;
  --sh-property: #79c0ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* Para que funcione next-theme */
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}